





    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="{{ site.url }}favicon.ico">
    <link rel="icon" type="image/png" href="{{ site.url }}/images/logo-128.png" sizes="128x128">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="{{ site.url }}/images/logo-128.png">
    <title>GiGi</title>

    <!--main.css-->
    <link rel="stylesheet" href="{{ site.url }}/scss/main.css">

    <!--font-awesome-->
    <link rel="stylesheet" href="{{ site.url }}/scss/font-awesome.min.css">

    <!--highlight.css-->
    <link rel="stylesheet" href="{{ site.url }}/scss/monokai-sublime.css">



    <!--jquery 3.2.0-->
    <script src="{{ site.url }}/js/jquery-3.2.0.js"></script>

    <!--highlight.js-->
    <script src="{{ site.url }}/js/highlight.pack.js"></script>

    <!--echarts.js-->
    <script src="{{ site.url }}/js/echarts.common.min.js"></script>

    <!--classie.js-->
    <script src="{{ site.url }}/js/classie.js"></script>

    <!--particles.js-->
    <script src="{{ site.url }}/js/particles.js"></script>

    <!--MathJax.js-->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>
    <!--CDN-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_HTMLorMML'></script>




